@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {

}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
}

.slider-item__info {
  text-align: right;
  position: absolute;
  right: 80px;
  bottom: 116px;
  color: #fff;
  text-transform: uppercase;
}

.slider-item__info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;
}

.slider-item__info-subtitle {
  margin-bottom: 5px;
}

.slider-item__info-text {
  font-size: 40px;
  font-weight: 800;
  line-height: 46px;
  margin-bottom: 20px;

}

.slider-item__info-subtext {
  margin-bottom: 8px;
}



@import "media";

