@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: relative;
  height: 100vh;
}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }
}

.slider-item__info {
  text-align: right;
  position: absolute;
  right: 80px;
  bottom: 116px;
  color: #fff;
  text-transform: uppercase;
}

.slider-item__info-title {
  font-weight: 800;
  font-size: 80px;
  line-height: 86px;
  margin-bottom: 48px;
}

.slider-item__info-subtitle {
  margin-bottom: 5px;
}

.slider-item__info-text {
  font-size: 40px;
  font-weight: 800;
  line-height: 46px;
  margin-bottom: 20px;

}

.slider-item__info-subtext {
  margin-bottom: 8px;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrows__left {
  right: 125px;
}

.slider-dots {
  max-width: 920px;
  width: 100%;
  position: absolute;
  right: 50px;
  bottom: 36px;
  color: #fff;

  .slick-current {
    .dots-box {
      border-top: 4px solid $green;
    }
  }
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
  border-top: 4px solid #fff;
  padding-top: 6px;

  &__number {
    font-weight: 800;
    font-size: 24px;
  }

  &__name {
    font-weight: 300;
    line-height: 19px;
  }
}

@import "media";

